# Backend Configuration
PORT=4000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=cine_db

# Email Configuration (para envío de comprobantes)
EMAIL_SERVICE=gmail
EMAIL_USER=flammedherz@gmail.com
EMAIL_PASSWORD=churrasquito98

# Frontend URL (para QR del comprobante)
FRONTEND_URL=http://localhost:5173
